[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
ipython = "*"
# when having debugpy this, you gotta do `pipenv lock --pre`
#debugpy = "*"
#ipykernel = "*"

[packages]
pandas = "*"
influxdb = "*"
requests = "*"
lxml = "*"

[requires]
python_version = "3.6"

#[pipenv]
#allow_prereleases = true
